@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    
    margin: 0;
    margin-top: 15px;
}
body{
    background-color: black;
}
.container{
    background-color: bisque;
    height: 560px;
    padding-top: 23px;
    
}
.main-head{
    text-align: center;
    font-family: sans-serif;
    color: orange;
    font-size: 35px;
}
p{
    text-align: center;
    margin-top: 30px;
    font-family: "Roboto Condensed", sans-serif;
    color: purple;
    font-size: 20px;
}
table ,tr ,th ,td{
    border: 1px solid rgb(75, 69, 69);
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    border-color: rgb(17, 161, 17);
}
.tables{
    display: flex;
    justify-content: center;
    margin-top: 0;
    
}
tr ,th ,td{
    width: 210px;
    height: 40px;
}
footer{
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: rgb(34, 187, 34);
}
th{
    background-color:rgb(89, 253, 56);
}